a.menu-864, ul.links li.menu-864 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/sites/all/themes/custom/coder_dojo/logo.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

