<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.redcap.redcap" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AmbassadorService"
            android:label="Ambassador Service Report"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Incident"
            android:label="Incident Report"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".UseOfForce"
            android:label="Use of Force Report"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
