{{!-- <form method="post" action="/changePassword">
	<input type="text" name="token" placeholder="Password Token">
	<input type="password" name="password" placeholder="New password...">
	<input type="submit" value="Change Password">
</form> --}}

<form class="form-signin narrowForm" method="post" action="/changePassword">
<h2 class="form-signin-heading">Change password</h2>

<input type="text" name="token" class="form-control" placeholder="Password Token" required="true" style="border-radius:4px 4px 0px 0px !important;">

<input type="password" name="password" class="form-control" placeholder="New Password..." required=""  style="border-radius:0px 0px 4px 4px !important; position:relative; top:.1em;">
<br>
<button id="submitbtn" class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>

<br>
to obtain your unique reset token, please check your email.

</form>