
<script>
	$(function() {
		$("#logout").trigger("click");
	})
</script>
<br><br><br>

<img src="/15night.png" alt="" id="logo">


<br><br><br>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
    	<a  href="/login" class="btn btn-lg btn-primary btn-rnd btn-block">login</a>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
    	<a class="btn btn-lg btn-rnd btn-block">learn more</a>
    </div>
</div>

