<br>
<form id="request" action="/postToSlack" method="post">

	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
		<div class="panel-heading">
		  <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		  	<input name="service" type="radio" value="Shelter" >
		  	<img class="emoji" src="/house.png" alt="">
		    Shelter
		  </h3>
		</div>
		<div id="collapse1" class="panel-collapse collapse">
		  <div class="panel-body">
		  	<h5>Gender</h5>
		  	<input required="true" name="gender" type="radio" value="Male"> Male <br>
		  	<input required="true" name="gender" type="radio" value="Female"> Female <br>
		  	<input required="true" name="gender" type="radio" value="Other"> Other <br>
		  	<h5>Age</h5>
		  	<input required="true" name="age" type="radio" value="5-8"> 5-8 <br>
		  	<input required="true" name="age" type="radio" value="8-11"> 8-11 <br>
		  	<input required="true" name="age" type="radio" value="11-14"> 11-14 <br>
		  	<input required="true" name="age" type="radio" value="14-18"> 14-18 <br>
		  	<input required="true" name="age" type="radio" value="18+"> 18+ <br>
		  </div>
		</div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		        <input name="service" type="radio" value="Food">
		        <img class="emoji" src="/fruit.png" alt="">
		        Food
		      </h3>
		    </div>
		    <div id="collapse2" class="panel-collapse collapse">
		    	<div class="panel-body">
					<h5>Gender</h5>
					<input name="gender" type="radio" value="Male"> Male <br>
					<input name="gender" type="radio" value="Female"> Female <br>
					<input name="gender" type="radio" value="Other"> Other <br>
					<h5>Age</h5>
					<input name="age" type="radio" value="5-8"> 5-8 <br>
					<input name="age" type="radio" value="8-11"> 8-11 <br>
					<input name="age" type="radio" value="11-14"> 11-14 <br>
					<input name="age" type="radio" value="14-18"> 14-18 <br>
					<input name="age" type="radio" value="18+"> 18+ <br>
		    	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		        <input name="service" type="radio" value="Transportation"> 
		        <img class="emoji" src="/car.png" alt="">
		        Transportation
		      </h3>
		    </div>
		    <div id="collapse3" class="panel-collapse collapse">
		    	<div class="panel-body">
					<h5>Gender</h5>
					<input name="gender" type="radio" value="Male"> Male <br>
					<input name="gender" type="radio" value="Female"> Female <br>
					<input name="gender" type="radio" value="Other"> Other <br>
					<h5>Age</h5>
					<input name="age" type="radio" value="5-8"> 5-8 <br>
					<input name="age" type="radio" value="8-11"> 8-11 <br>
					<input name="age" type="radio" value="11-14"> 11-14 <br>
					<input name="age" type="radio" value="14-18"> 14-18 <br>
					<input name="age" type="radio" value="18+"> 18+ <br>
		    	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
		        <input name="service" type="radio" value="Mental Health"> 
		        <img class="emoji" src="/mental.png" alt="">
		        Mental Health
		      </h3>
		    </div>
		    <div id="collapse4" class="panel-collapse collapse">
		    	<div class="panel-body">
					<h5>Gender</h5>
					<input name="gender" type="radio" value="Male"> Male <br>
					<input name="gender" type="radio" value="Female"> Female <br>
					<input name="gender" type="radio" value="Other"> Other <br>
					<h5>Age</h5>
					<input name="age" type="radio" value="5-8"> 5-8 <br>
					<input name="age" type="radio" value="8-11"> 8-11 <br>
					<input name="age" type="radio" value="11-14"> 11-14 <br>
					<input name="age" type="radio" value="14-18"> 14-18 <br>
					<input name="age" type="radio" value="18+"> 18+ <br>
		    	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
		        <input name="service" type="radio" value="Physical Health"> 
		        <img class="emoji" src="/hospital.png" alt="">
		       Physical Health 
		      </h3>
		    </div>
		    <div id="collapse5" class="panel-collapse collapse">
		    	<div class="panel-body">
					<h5>Gender</h5>
					<input name="gender" type="radio" value="Male"> Male <br>
					<input name="gender" type="radio" value="Female"> Female <br>
					<input name="gender" type="radio" value="Other"> Other <br>
					<h5>Age</h5>
					<input name="age" type="radio" value="5-8"> 5-8 <br>
					<input name="age" type="radio" value="8-11"> 8-11 <br>
					<input name="age" type="radio" value="11-14"> 11-14 <br>
					<input name="age" type="radio" value="14-18"> 14-18 <br>
					<input name="age" type="radio" value="18+"> 18+ <br>
		    	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
		        <input name="service" type="radio" value="Drug Mediation"> 
		        <img class="emoji" src="/pill.png" alt="">
		       Drug Mediation 
		      </h3>
		    </div>
		    <div id="collapse6" class="panel-collapse collapse">
		    	<div class="panel-body">
					<h5>Gender</h5>
					<input name="gender" type="radio" value="Male"> Male <br>
					<input name="gender" type="radio" value="Female"> Female <br>
					<input name="gender" type="radio" value="Other"> Other <br>
					<h5>Age</h5>
					<input name="age" type="radio" value="5-8"> 5-8 <br>
					<input name="age" type="radio" value="8-11"> 8-11 <br>
					<input name="age" type="radio" value="11-14"> 11-14 <br>
					<input name="age" type="radio" value="14-18"> 14-18 <br>
					<input name="age" type="radio" value="18+"> 18+ <br>
		    	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
		        <input name="service" type="radio" value="Counseling"> 
		        <img class="emoji" src="/thumbs.png" alt="">
		       Counseling 
		      </h3>
		    </div>
		    <div id="collapse7" class="panel-collapse collapse">
		    	<div class="panel-body">
					<h5>Gender</h5>
					<input name="gender" type="radio" value="Male"> Male <br>
					<input name="gender" type="radio" value="Female"> Female <br>
					<input name="gender" type="radio" value="Other"> Other <br>
					<h5>Age</h5>
					<input name="age" type="radio" value="5-8"> 5-8 <br>
					<input name="age" type="radio" value="8-11"> 8-11 <br>
					<input name="age" type="radio" value="11-14"> 11-14 <br>
					<input name="age" type="radio" value="14-18"> 14-18 <br>
					<input name="age" type="radio" value="18+"> 18+ <br>
		    	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
		        <input name="service" type="radio" value="Basic Needs"> 
		        <img class="emoji" src="/box.png" alt="">
		       Basic Needs 
		      </h3>
		    </div>
		    <div id="collapse8" class="panel-collapse collapse">
		    	<div class="panel-body">
					<h5>Gender</h5>
					<input name="gender" type="radio" value="Male"> Male <br>
					<input name="gender" type="radio" value="Female"> Female <br>
					<input name="gender" type="radio" value="Other"> Other <br>
					<h5>Age</h5>
					<input name="age" type="radio" value="5-8"> 5-8 <br>
					<input name="age" type="radio" value="8-11"> 8-11 <br>
					<input name="age" type="radio" value="11-14"> 11-14 <br>
					<input name="age" type="radio" value="14-18"> 14-18 <br>
					<input name="age" type="radio" value="18+"> 18+ <br>
		    	</div>
		    </div>
		</div>


		<div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
		        <input name="service" type="radio" value="Other"> 
		        <img class="emoji" src="/question.png" alt="">
		       Other 
		      </h3>
		    </div>
		    <div id="collapse9" class="panel-collapse collapse">
		    	<div class="panel-body">
					<h5>Gender</h5>
					<input name="gender" type="radio" value="Male"> Male <br>
					<input name="gender" type="radio" value="Female"> Female <br>
					<input name="gender" type="radio" value="Other"> Other <br>
					<h5>Age</h5>
					<input name="age" type="radio" value="5-8"> 5-8 <br>
					<input name="age" type="radio" value="8-11"> 8-11 <br>
					<input name="age" type="radio" value="11-14"> 11-14 <br>
					<input name="age" type="radio" value="14-18"> 14-18 <br>
					<input name="age" type="radio" value="18+"> 18+ <br>
		    	</div>
		    </div>
		</div>

	</div>
	<div id="sticker">
		<div class="container">
			<input type="submit" class="btn btn-lg btn-primary btn-block" value="make request">
		</div>
	</div>
	
</form>




<script>
UserApp.initialize({ appId: "56bf8c06a0f39" });
// $(window).scroll(function (){
//     $('#sticker').stop().animate({bottom: 0}, 'slow');
// });
var config = {};

$("form").on("submit", function(){
	// var self = this;
	$("#sticker input").attr("value", "loading");
	setInterval(function(){
		$("#sticker input").attr(
			"value", 
			$("#sticker input").attr("value") + "."
		)
	},500)
})

// $("#submitbtn").html("loading");
// setInterval(function(){
// 	$("#submitbtn").append(".");
// },500)

$('h3').each(function(i,h){
	$(h).on("click", function(h){
		// var name = $(this).children()[0].attr('name');
		// var value = $(this).children()[0].attr('value')
		var input = $(this).children()[0];
		$("[name="+input.name+"]").val([input.value]);
	})
	
})

var getToken = function(source){
	var components = (source.split('/'));
	if (components[components.length-1].indexOf('%') >= 0) {
		// if it has a % (enncoded whitespace), it's not our user ID
		console.log("YOU MADE IT HERE!")
		return components[components.length-2];
	}
	console.log("NOT IN IF.");
	return components[components.length-1];
}
console.log("HERE IS THE GET TOKEN CONSOLE LOG BROOOOOOO");
console.log(getToken(window.location.href));
$('#request').attr(
	"action", 
	$('#request').attr('action') + "/" + getToken(window.location.href)
)
</script>