{{!-- <form action="/passwordReset" method="post">
	<input type="text" name="email">
	<input type="submit" value="Reset Password">
</form> --}}

<form class="form-signin narrowForm" method="post" action="/passwordReset">
<h2 class="form-signin-heading">Reset password</h2>
<label for="inputEmail" class="sr-only">Email address</label>
<input type="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="" >
<br>
<button id="submitbtn" class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
</form>
<br>
<div>
	<a href="/resetPassword" class="btn btn-lg btn-rnd btn-block text-center">cancel</a>
</div>